/* reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
    margin: 0;
    padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
    display: block;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption,
th {
    text-align: left;
    font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
    border: 0;
}
i,
cite,
em,
var,
address,
dfn {
    font-style: normal;
}
[hidefocus],
summary {
    outline: 0;
}
li {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
    font-size: 100%;
}
sup,
sub {
    font-size: 83%;
}
pre,
code,
kbd,
samp {
    font-family: inherit;
}
q:before,
q:after {
    content: none;
}
textarea {
    overflow: auto;
    resize: none;
}
label,
summary {
    cursor: default;
}
a,
button {
    cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
    font-weight: bold;
}
del,
ins,
u,
s,
a,
a:hover {
    text-decoration: none;
}
body,
textarea,
input,
button,
select,
keygen,
legend {
    font: 14px 'Microsoft YaHei',Tahoma,Verdana,Simsun;
    color: #333;
    outline: 0;
}
body {
    background: #fff;
}
a,
a:hover {
    color: #333;
}
html,
body {
    height: 100%;
}
//公用
.right {
    float: right;
}
.left {
    float: left;
}
.clear {
    clear: both;
}

header {
    height: 100px;
    width: 100%;
    position: relative;
    top: 0; //  border_bottom: 2px solid #FFF;
    z-index: 998;
    background: rgba(0,0,0,.4);
    min-width: 900px;
    .header {
        width: 60%;
        margin: 0 auto;
    }
    .logo {
        width: 70px;
        margin-top: 15px;
    }
    li {
        float: left;
        line-height: 100px;
        position: relative;
        margin: 0 20px;
        a {
            color: #DADADA;
            display: block;
            height: 100%;
            width: 100%;
            font-size: 20px;
            padding: 0 5px;
            transition: color 0.8s;
        -moz-transition: color 0.8s;
        /* Firefox 4 */
        -webkit-transition: color 0.8s;
        /* Safari and Chrome */
        }
        a:hover {
            color: #FFFFFF;
        }
    }
}
.page_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bg1 {
    overflow: hidden;
    background: url("../img/bg1.jpg") 50%;
    background-size: cover;
}
.bg2 {
    overflow: hidden;
    background: url("../img/bg2.jpg") 50%;
    background-size: cover;
}
.bg3 {
    overflow: hidden;
    background: url("../img/bg3.jpg") 50%;
    background-size: cover;
}
.bg4 {
    overflow: hidden;
    background: url("../img/bg4.jpg") 50%;
    background-size: cover;
}
.bg1:after {
    content: "";
    /* FireFox, Chrome, Opera */
    -webkit-filter: blur(5px);
    /* Chrome, Opera */
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    filter:blur(5px);
    background: url("../img/bg1.jpg") 50%;
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -30px;
}
.bg2:after {
    content: "";
    /* FireFox, Chrome, Opera */
    -webkit-filter: blur(5px);
    /* Chrome, Opera */
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    filter:blur(5px);
    background: url("../img/bg2.jpg") 50%;
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -30px;
}
.bg3:after {
    content: "";
    /* FireFox, Chrome, Opera */
    -webkit-filter: blur(5px);
    /* Chrome, Opera */
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    filter:blur(5px);
    background: url("../img/bg3.jpg") 50%;
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -30px;
}
.bg4:after {
    content: "";
    /* FireFox, Chrome, Opera */
    -webkit-filter: blur(5px);
    /* Chrome, Opera */
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    filter:blur(5px);
    background: url("../img/bg4.jpg") 50%;
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -30px;
}
.b_line {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    i {
        margin: 0 auto;
        display: block;
        background: #FFFFFF;
        height: 2px;
        width: 0;
        transition: width 0.8s;
        -moz-transition: width 0.8s;
        /* Firefox 4 */
        -webkit-transition: width 0.8s;
        /* Safari and Chrome */
    }
}
.nav:hover i {
    width: 100%;
}
//首页
.in_c {
    width: 190px;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 40px;
    line-height: 70px;
    color: #333;
    font-size: 80px;
    cursor: default;
    span {
        font-size: 40px;
        color: #717171;
        cursor: default;
        filter:url("blur.svg#blur");
        /* FireFox, Chrome, Opera */
        -webkit-filter: blur(2px);
        /* Chrome, Opera */
        -moz-filter: blur(2px);
        -ms-filter: blur(2px);
        filter:blur(2px);
        transition: filter 0.8s;
        -moz-transition: filter 0.8s;
        /* Firefox 4 */
        -webkit-transition: -webkit-filter 0.8s;
        /* Safari and Chrome */
    }
    span:hover {
        filter:url("blur.svg#blur");
        /* FireFox, Chrome, Opera */
        -webkit-filter: blur(0px);
        /* Chrome, Opera */
        -moz-filter: blur(0px);
        -ms-filter: blur(0px);
        filter:blur(0px);
    }
}
//关于我
.ab_in {
    position: relative;
    width: 70%;
    margin: 0 auto;
    .person_resume {
        color: #FFFFFF;
        margin-top: 45px;
        .top {
            font-size: 25px;
            font-weight: 700;
            padding: 5px 15px;
            width: 120px;
            text-align: center;
            background: rgba(0,0,0,.2);
            border-radius: 10px;
            margin-left: 20px;
        }
        .inner {
            margin-top: 15px;
            min-width: 1100px;
            .my_n {
                //          margin-left: 25px;
                margin: 0 0 10px 25px;
            }
            .list {
                width: 30%;
                min-width: 310px;
                background: rgba(0,0,0,.2);
                border-radius: 10px;
                min-height: 400px;
                margin: 0 1.5% 30px;
                .title {
                    text-align: center;
                    font-size: 22px;
                    margin-top: 15px;
                    span {
                        font-size: 25px;
                        font-weight: 700;
                    }
                }
                .inner_text {
                    margin: 15px 0;
                    li {
                        margin-left: 10px;
                        font-size: 16px;
                        line-height: 30px;
                    }
                }
                .time {
                    text-align: right;
                    padding-right: 5px;
                }
            }
        }
    }
}
//职业技能
.skill_c {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    .list {
        float: left;
        padding: 10px;
        width: 18%;
        color: #FFFFFF;
        .top {
            text-align: center;
            font-size: 25px;
            span {
                background: rgba(0,0,0,.3);
                padding: 5px 30px;
                border-radius: 3px;
                font-weight: 700;
                min-width: 80px;
                display: inline-block;
            }
        }
        .middle {
            background: rgba(0,0,0,.3);
            margin-top: 20px;
            padding: 5px 10px;
            font-size: 16px;
            border-radius: 5px;
            min-height: 200px;
            cursor: pointer;
            filter:url("blur.svg#blur");
            /* FireFox, Chrome, Opera */
            -webkit-filter: blur(3px);
            /* Chrome, Opera */
            -moz-filter: blur(3px);
            -ms-filter: blur(3px);
            filter:blur(3px);
            transition: filter 0.8s;
            -moz-transition: filter 0.8s;
            /* Firefox 4 */
            -webkit-transition: -webkit-filter 0.8s;
            /* Safari and Chrome */
            li {
                float: left;
                margin: 2px 0;
            }
        }
        .middle:hover {
            filter:url("blur.svg#blur");
            /* FireFox, Chrome, Opera */
            -webkit-filter: blur(0px);
            /* Chrome, Opera */
            -moz-filter: blur(0px);
            -ms-filter: blur(0px);
            filter:blur(0px);
        }
    }
}
//demo
.demo{
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 4px;
    a{
        line-height: 40px;
        border: 1px solid #009688;
        display: block;
        width: 25%;
        box-sizing: border-box;
        text-align: center;
        margin: 5px 0;
        float: left;
        min-width: 255px;
        margin-left: -1px;
    }
    a:hover{
        background: #333333;
        color: #FFFFFF;
         border: 1px solid #333;
    }
}
